h1, body {
    text-align: center;
    color: rgb(209, 146, 70)
}
a {
    color: rgb(209, 146, 70)
}

ul {
    text-align: left;
    list-style-position: inside;
}

ol {
    text-align: center;
    list-style-position: inside;
}

.ingredients, .directions {
    display: inline-block;

}

.spaghetti, .tacos, .fajitas, .casserole {
    width: 300px;
    height: 300px;
}

.odin {
    width: 50%
}

.flip-box1, .flip-box2, .flip-box3, .flip-box4 {
    display: inline-block;
    background-color: transparent;
    width: 300px;
    height: 300px;
    border: 1px solid rgb(209, 146, 70);
    perspective: 1000px;
}


.flip-box-inner1, .flip-box-inner2, .flip-box-inner3, .flip-box-inner4 {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flip-box1:hover .flip-box-inner1 {
    transform: rotateY(180deg);
}

.flip-box2:hover .flip-box-inner2 {
    transform: rotateY(180deg);
}

.flip-box3:hover .flip-box-inner3 {
    transform: rotateY(180deg);
}

.flip-box4:hover .flip-box-inner4 {
    transform: rotateY(180deg);
}

.flip-box-front1, .flip-box-back1 {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.flip-box-front2, .flip-box-back2 {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.flip-box-front3, .flip-box-back3 {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.flip-box-front4, .flip-box-back4 {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.flip-box-front1, .flip-box-front2, .flip-box-front3, .flip-box-front4 {
    background-color: #bbb;
    color: black;
}


.flip-box-back1, .flip-box-back2, .flip-box-back3, .flip-box-back4 {
    background-color: rgb(209, 146, 70);
    color: white;
    transform: rotateY(180deg);
}